{{>layouts/header}}
	
<!-- 부트 스트랩 table 참고 -->

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">title</th>
      <th scope="col">content</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><input type="text" name="id" value="{{article.id}}"/></th>
      <td><input type="text" name="title" value="{{article.title}}"/></td>
      <td><input type="text" name="content" value="{{article.content}}"/></td> </tr>
  </tbody>
</table>	

<a href="/aritcles/{{id}}/Edit">수정</a>
	
{{>layouts/footer}}
